@import '~antd/dist/antd.css';
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: orange;
}
.App-header {
  background-color: #1c1d00;
  min-height: 900vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.ant-list-pagination {
  text-align: center !important;
}

